<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mucfc.com.checkModel.dynamicdatasource.mapper.CountDao">


    <select id="select" resultType="cn.mucfc.com.checkModel.dynamicdatasource.model.Count">
        SELECT count(1) as count,${dbName} as srcPlantform
        FROM ${dbName}.${tableName}
        WHERE ${timeField} between #{beginTime} and #{endTime}
        LIMIT 1
    </select>

</mapper>
